<div>
  <h1>ROUTING</h1>
  <ul>
    <li>Se importan en el archivo module.ts las clases RouterModule y Route desde @angular/router</li>
    <li>Declaramos const rotes: Route[] = [ aqui van las rutas a utilizar en el proyecto]</li>
    <li>Definimos la clase RouterModule y su clase forRoot() y le pasamos routes como parametro</li>
    <li>Por ultimo en el html principal escribimos las etiquetas router- outlet"</li>
  </ul>
</div>

<!--MENU-->
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
  <li>
    <a routerLink="/servicios">Servicios</a>
  </li>
</ul>
<!--Se usan estas etiquetas para poder trabajar con enrutamiento-->
<router-outlet></router-outlet>